.gradle/
build/
.idea/workspace.xml
**/intermediate
**/generated
**/intermediates
**/.gradle
**/time-android
**/x64
*.apk
gdbserver
*.recipe.merged
*.lastsuccessfuldeploy
*.AssemblyReference.cache
*.FileListAbsolute.txt
!gradle/wrapper/gradle-wrapper.jar
*.dex
*.bin
_matter.zip
app_process*
gdbserver
linker
*.idea
*.a
*.so
*.apk
*.aar
*.recipe
_packages.txt
deployment.rc

